html {
    scroll-behavior: smooth;
}

#logoFaraday{


max-width: 300px;
height: auto;
display: block; 
margin: 0 auto; 
}


header{
    background-color: white;
    padding: 30px 0;
    position: relative;

}

nav ul{
    list-style-type: none;
    padding: 20px;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: black;
       
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color:chocolate;
}
.parrafos{
    background-color: orange;
  /*  border: 2px solid white;*/
    padding: 20px;
    margin:auto;
}

p,h1{
    text-align: center;
    color: white;
}
/*proyectos va en pruebas, la galeria carrousel */



body{
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
    

}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (para un video de YouTube) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*noborrar
.carousel-container {
     
}*/

#imagen {
    display: block; 
    margin: 0 auto; 
    max-width: 70%; 
    height: auto; 
   
}
#anterior{
    display: block;
    float: left;
    padding:  20px;
    font-size: 40px;
    background-color: black;
    color: #fff;
    border:  1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#siguiente {
    display: block;
    float: right;
    padding:  20px;
    font-size: 40px;
    background-color: black;
    color: #fff;
    border:  1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#anterior:hover,
#siguiente:hover {
    background-color: chocolate; /* Cambia el color de fondo al pasar el cursor */
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    background-color: #000000;
    padding: 20px;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="tel"],
.form-group input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    padding: 10px;
    background-color: black;

    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: chocolate;
}

/*article*/
.column-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around; /* Espacia las columnas equitativamente */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    background-color: orange;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Las columnas se expanden equitativamente */
    max-width: 300px; /* Limita el ancho máximo de cada columna */
    text-align: center;
}

.column h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.column p {
    color: #ffffff;
    font-size: 1em;
    line-height: 1.6;
}