#logoFaraday{


max-width: 300px;
height: auto;
position: absolute;
top: 5%;
right: 43%;

}

header{
    background-color: white;
    padding: 30px 0;
    position: relative;

}
.parrafos{
    background-color: orange;
  /*  border: 2px solid white;*/
    padding: 20px;
    margin:auto;

}


body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
    color: white;

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}